* {
    margin: 0;
}

header {
    text-align: center;
}

main {
    position: relative;
}

header img {
    width: 63px;
    height: 127px;
    margin-top: 7px;
    text-align: center;
}

#header-green-rectangle {
    position: absolute;
    width: 48%;
    height: 150px;
    top: -68px;
    left: -3%;
    z-index: -100;

    background: rgba(8, 161, 97, 0.90);
    filter: blur(150px);
}

#header-azure-rectangle {
    position: absolute;
    width: 49%;
    height: 150px;
    top: -16px;
    left: 52%;
    z-index: -100;
    
    background: rgba(0, 143, 204, 0.52);
    filter: blur(150px);
}

nav {
    height: 88px;

    background: rgb(44, 138, 131);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-top: 40px;
}

nav ul {
    display: flex;
    padding: 0;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: 'ABeeZee', sans-serif;
    transition: opacity 0.4s ease;

    &:hover {
        opacity: 0.6;
    }
}

nav .link-divider {
    width: 2px;
    height: 40px;
    border-radius: 20px;
    background: rgb(217, 217, 217);
}

.hero-space {
    position: relative;
    background-image: url('https://i.ibb.co/Jxn1Kt4/hero-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    filter: drop-shadow(0px 4px 4px 0px rgba(0, 0, 0, 0.25));
}

.hero-space h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-weight:lighter;
    text-align: center;
    font-family: 'Jura', sans-serif;
    color: white;
    font-size: 52px;
}


.grid-container {
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: start;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px);
    column-gap: 48px;
    font-family: Jura;
    margin: auto 10% 20% 10%;
}

.grid-container .header {
    grid-column: 1 / span 3;
    padding: 40% auto 20%;

    & h2 {
        margin: 86px auto 40px;
        font-size: 36px;
        font-weight: lighter;
    }
}

.grid-container .card  {
    & img {
        width: 100%;
        height: auto;
    }

    & .title {
        font-family: 'ABeeZee', sans-serif;
        font-size: 24px;
    }

    & .text {
        font-size: 16px;
    }
}

#main-azure-ellipse {
    position: absolute;
    z-index: -100;
    left: -5%;
    bottom: 0;
    height: 72vh;
    width: 41vw;
    border-radius: 92%;
    background-color: rgba(0, 131, 204, 0.5);
    filter: blur(350px);
    
}

#main-green-ellipse {
    position: absolute;
    z-index: -100;
    left: 67%;
    bottom: 16vh;
    height: 56vh;
    width: 41vw;
    border-radius: 77%;
    background-color: rgba(2, 99, 53, 0.86);
    filter: blur(300px);
    
}

footer {
    margin-bottom: -88px;
    height: 88px;

    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: auto;
    align-items: center;
    text-align: left;
    gap: 10px;

    background-color: rgb(44, 138, 131);

    & .logo img {
        padding-left: 48px;
        width: 32px;
        height: auto;
    }

    & .copyright {
        font-family: ABeeZee;
        font-size: 24px;
        color: white;
    }
}